 <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    
    <h1 class="h2">Plots</h1>
  </div>

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @plot.name %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @plot.address %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @plot.price %>
    </p>

    <p>
      <strong>Rooms:</strong>
      <%= @plot.rooms %>
    </p>

    <p>
      <strong>Bathrooms:</strong>
      <%= @plot.bathrooms %>
    </p>

    <%= link_to 'Edit', edit_plot_path(@plot), class: "btn btn-outline-primary"%> |
    <%= link_to 'Back', plots_path, class: "btn btn-outline-success" %>
  </div>
</div>
</main>